<div #content >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{title ? title : '' }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- MODAL BODY -->
    <div class="modal-body">
        <form (ngSubmit)="submit()" #courseForm="ngForm">
        <div class="form-group">
            <label for="name"> Course Name</label>
            <input type="text" class="form-control" id="name"
                   [(ngModel)]="componentCourse.name" name="courseName" required>
          </div>
          <div class="form-group">
            <label for="name">Maximum Number of Participants</label>
            <input type="number" class="form-control" id="maximumParticipants"
                   [(ngModel)]="componentCourse.maximumParticipants" name="maximumParticipants" required>
          </div>
        </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-success"  [disabled]="!courseForm.form.valid" (click)="submit()">Submit</button>
    </div>
</div>

<ng-template #empty>
    <h4 style="text-align: center;">No Students Enrolled</h4>
</ng-template>

  
