<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Student</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">First Name</label>
          <div class="input-group">
            <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName"  >
          </div> 
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="emmitStudent()">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
  <div class="row justify-content-center" (click)="open(content)">

    <div class="row justify-content-center">
        <div class="col-md-6   " style="text-align: center;">
            <button  class = "btn btn-success myButton" >
                Add Student
            </button>
        </div>
    </div>

  
