<nav class="shadow-lg navbar navbar-expand-lg navbar-light" style="background-color: #ffff;" >
    <div class=" container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item text-center">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact:
                true}" >Courses</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link"  routerLink="students"  routerLinkActive="active">Students</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>