.active{
    border-bottom: 2px solid blue;
    color: blue !important;
    font-weight: 500;
}

.navbar{
    padding-bottom: 0;
    margin: 0em 1em 0em 1em;
}

li{
    font-weight: 500;
    margin-right: 1em;
}

li:hover{
    color: blue !important;
    font-weight: 500;
    transition: 60ms;
}


