

<app-add-student-modal  (addStudentEventEmitter)="createStudent($event)">

</app-add-student-modal>

<div *ngIf="!isLoading ; else loading" class="row justify-content-center">
<div class="col-md-9">
        <table>
            <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Actions</th>
            </tr>
            <tr *ngFor ="let student of students" >
            <td style="text-align: center;">{{student.id}}</td>
            <td>{{student.firstName}}</td>
            <td style="width: 25%; text-align: center;">
                <button (click)="onDeleteStudentClicked(student)" class="btn btn-danger">Delete</button>
                <app-edit-student-modal [student]=student (updateStudentEventEmitter)="updateStudent($event)"></app-edit-student-modal>
            </td>
            </tr>

        </table>
    </div>
</div>


<ng-template #loading> 
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="loader"></div>
    </div>
</div>
</ng-template>


