

<!-- <app-add-student-modal  (addStudentEventEmitter)="createStudent($event)"> -->
    
<!-- </app-add-student-modal> -->

<div *ngIf="!isLoading ; else loading" class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-12" style="text-align: center;">
            <button class="btn btn-success" (click)="openAddCourseModal()" style="margin-bottom: 1em;">
                Add Course
            </button>
        </div>
    </div>
    <div class="col-md-9">
        <table>
            <tr>
            <th>Id</th>
            <th>Course Name</th>
            <th>Maximum Participants</th>
            <th>Actions</th>
            </tr>
            <tr *ngFor ="let course of courses" >
            <td style="text-align: center;">{{course.id}}</td>
            <td style="font-weight: 700; text-align: center;">{{course.name}}</td>
            <td style="text-align: center;">{{course.maximumParticipants}}</td>
            <td style="width: 25%; text-align: center;">
                <button class="iconButton" (click)="openConfirmDeleteModal(course)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </button>
                <button class="iconButton" (click)="openEditCourseModal(course)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </button>
                <button class="iconButton" (click)="OpenDetailModal(course)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </button>
                <!-- <button (click)="onDeleteStudentClicked(student)" class="btn btn-danger">Delete</button>
                    
                <app-edit-student-modal [student]=student (updateStudentEventEmitter)="updateStudent($event)"></app-edit-student-modal> -->
            </td>
            </tr>

        </table>
    </div>
</div>


<ng-template #loading> 
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="loader"></div>
    </div>
</div>
</ng-template>


