<div #content >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{course.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- MODAL BODY -->
    <div class="modal-body">
        <div *ngIf="course.enrolledStudents.length else empty" class="row justify-content-center">
            <div class="col-md-9">
                    <table>
                        <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Actions</th>
                        </tr>
                        <tr *ngFor ="let student of course.enrolledStudents" >
                        <td style="text-align: center;">{{student.id}}</td>
                        <td>{{student.firstName}}</td>
                        <td> 
                            <button class="iconButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </td>
                        </tr>
            
                    </table>
                </div>
            </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="close()">Close</button>
    </div>
</div>

<ng-template #empty>
    <h4 style="text-align: center;">No Students Enrolled</h4>
</ng-template>

  
